<html>
<head>    
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"> 
    
    <title>iTsgram</title>
    

 <style>    
    
    
.collapsible-body p {
    margin: 0;
    padding: 0.5rem;
}
     
 .side-nav .userView .circle {
    height: 150px;
    width: 150px;
}
 
.btn, .btn-large {
  text-decoration: none;
  color: #000 !important;
  background-color: transparent;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}    
    
.btn:hover, .btn-large:hover {
  background-color: transparent;
}    
    
        
.backdrop {
  background-color: #607D8B;
  color: black;    
}   
    
.nav-wrapper{
    background-color:#1976D2 !important;
}
    
    
.page-footer{
    background-color: #0D47A1 !important;   
}
    
       
.btn{
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
}     
   
.collapsible-header i {
  width: 5px !important;
}
    
.collapsible-header i {

  margin-right: 2rem !important;
} 
    
</style>   
    
    
    
    </head>    
    
    
<body>
  <!--  
<body oncontextmenu='return false' onkeydown='return false' ondragstart="return false;">    


    <script language="Javascript">
   document.oncontextmenu = function() {
      return false
   }
   function right(e) {
      var msg = "Prohibido usar Click Derecho! ";
      if (navigator.appName == 'Netscape' && e.which == 3) {
         alert(msg); //- Si no quieres asustar a tu usuario entonces quita esta linea...
         return false;
      }
      else if (navigator.appName == 'Microsoft Internet Explorer' && event.button==2) {
         alert(msg); //- Si no quieres asustar al usuario que utiliza IE,  entonces quita esta linea...
                        //- Aunque realmente se lo merezca...
      return false;
      }
   return true;
}
document.onmousedown = right;
</script>
    
    -->
    

    
 <div class="navbar-fixed">
        <nav>
    <div class="nav-wrapper">
      <a href="http://127.0.0.1:8000/home/" class="brand-logo right"><img src="/static/images/logos.png" height="50" style="margin-top:6px;"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="#" data-activates="slide-out" class="aaa"><i class="material-icons">menu</i></a></li>
      </ul>

          <form name="fo" action="/home/search/" method="GET">
        <div class="row">
        <div class="col l5 offset-l3">
        <div class="input-field radio" style="height: 80%; margin-top:6px;">
          <input id="deletea"class="radio blue" maxlength="30" id="text" placeholder="Buscar" type="search" name="q" value="{{ query|escape }}" required >
          <label for="search"><i class="material-icons" style="margin-top:-5px;">search</i></label>
          <i class="material-icons" style="margin-top:-5px;" onclick="deletea()">close</i>
        </div></div></div>
      </form>
        
    </div>
  </nav>      
  </div>
  <BR></BR>   
    
     <div class="row">
        <div class="col s10 offset-s1">
          <div class="card white">
            <div class="card-content white-text">
              <span class="card-title">Mi Perfil</span>

        
    <div class="center-align">
        <a class="foto"><input type=image class="circle" src='/static/images/perfil.png' width="200" height="200"></a>  <BR></BR>  
    
    
    <div class="center-align">
        <font size = 5 face="Roboto" color = "red">{{ user.username }}</font><br>
        <a class="perfil">{{ user.email }}</a><br>

    </div>
   </div>
                
            </div>

          </div>
        </div>
      </div>
    
    
   {% if pasadas %}
            <ul>
                  <div class="row" style="margin-left:8%   ; margin-right:8%;">
                {% for document in pasadas %}
                   <div class="col s12 m6 l4">
                    
                        {{ document.user }}
                        {{ document.fecha }}
                        <input class="modal-trigger" type=image src="{{ document.docfile.url }}" width="350" height="200" href="#modal2">  {{ document.descri }}  
                
				    
                    	
                
					<form action="/home/perfil/"  method="get" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="hidden" name="docfile" value="{{ document.pk }}" />
						<input type="submit" value="Delete" />
        			</form>		
                      </div>   
                {% endfor %}
            
    {% else %}
            <p>No documents.</p>
    {% endif %}

                      
                </div>              
       </ul>
    
    <div id="modal2" class="modal">
    <div class="modal-content">
    <div align = "center"> 
        <input class="centered modal-1" type=image id="modal1" width="565" height="340">
        </div>    
  
        <ul class="collapsible" data-collapsible="accordion">
    <li>
        
        
                    
        <div class="collapsible-header"><a class="btn tooltipped" data-position="top" data-delay="10" data-tooltip="Comments"><i class="material-icons">comment</i></a></div>

   
      <div class="collapsible-body">
          
  
     </div>
    </li>    
  </ul>         
    </div>
    </div> 

    
    
    

  <!-- Modal Structure -->
    
  <div id="modal1" class="modal">
    <div class="modal-content">
    <div align = "center"> 
        <input class="centered modal-1" type=image id="modal1" width="350" height="200">
        </div>    
  <ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><a class="btn tooltipped" data-position="top" data-delay="10" data-tooltip="Comments"><i class="material-icons">chat_bubble_outline</i></a></div>


    </li>    
  </ul>         
    </div>
    </div>         
    <script>
    
    
    
     $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
         $('.modal-trigger').click(function(e){
             $('.modal-1').attr('src',$(this).attr('src')) ;
         })
  });
    
    
      $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
   
        
        
        
      $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });    
    
    </script>
    
    
    <div>  
        <ul id="slide-out" class="side-nav">
    <li><div class="userView">
<!--      <img class="background" src="/static/images/2.jpg">-->
      <a href="#!user"><img class="circle" class="responsive-img" src="/static/images/perfil.png"></a>
      <a href="#!name"><span class="black-text name">{{ user.username }}</span></a>  
      <a href="#!email"><span class="black-text email">{{ user.email }}</span></a>
    </div></li>
    <li><a href="../"><i class="material-icons">view_module</i>Home</a></li> 
        
     <li><a type="submit" onclick="window.location.href='/logout/' "><i class="material-icons">settings_power</i>Salir</a> </li>   
   
     <li><div class="divider"></div></li>            
    <li><a class="subheader">Favoritos</a></li>
    <li><a class="waves-effect">Cheru</a></li>
    <li><a class="waves-effect">Ivo</a></li>
    <li><a class="waves-effect">Enano</a></li>
    <li><a class="waves-effect">Huevo</a></li>        
    <li><div class="divider"></div></li>       
       
          
  </ul>

    </div> 
    
</body> 
    
     <script>
        $( document ).ready(function() {
        $(".aaa").sideNav();
            
});
    </script>
    
   


    
</html>





